/* HEADER */

header
{
    opacity: 0.8;
    padding-bottom: 5rem;
    background-color: #375280;
    display: flex;
    height: 80px;
}

.boxMenu
{

    width: 50%;
}

.boxMenu ul
{
    padding-top: 2.5rem;
    margin: 0px;
    float:right;
    padding-right: 2rem;
    height: 80px;

}

.boxMenu li
{
    margin: 5px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.boxMenu a
{
    padding-top: 26px;
    padding-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.boxFreeNote
{
    width: 50%;
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.boxFreeNote img{
    align-content: center;
    width: 180px;
    height: 80px;
}


.boxFreeNote h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.freenote
{
    color: navajowhite;
    text-align: center;
    font-family: Arial;


}

li a:hover {
    background-color: #BAD4FF;
    color: #375280;
}



/* BODY ET PRESENTATION GENERALE */
body
{
    background-image: url("https://i.imgur.com/kKBguCz.jpg");
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(217, 223, 235, 0.884);
}

.presentation
{
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-bottom: solid;
}

/* PRESENTATION DU SITE */

#conteneur_presentation
{
    opacity: 0.8;
    padding-top : 20px;
}

#conteneur_presentation .presentation
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    font-family: Arial, sans-serif;
    color: black;
}

#conteneur_presentation .presentation h2
{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

#conteneur_presentation .presentation p
{
    text-align: center;
    width: 300px;
    margin-top: 1rem;
    border-right: solid;
    border-color: #375280;

    margin-left: 2rem;
    margin-right: 2rem;

    padding-right: 2rem;

}

/* #################### */

/* CORPS DE LA PAGE */

.corps
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

/* LISTE DES CONVERSTATIONS */


.boxBarRecherche
{
    width: 100%;
    display: flex;
    justify-content: center;
}



input[type=search]
{
    margin-left: 2rem;
    border: 2px solid #375280;
    border-radius: 8px;
    background-color: rgba(169, 175, 187, 0.88);
    padding-left: 40px;
}

input[type=search]:focus {
    background-color: #BAD4FF;
}

/* Liste discussion contient toutes les conversations */
.allChat {
    display: flex;

}
.allChat a{
    text-decoration: none;
    color: black;
}
.ChatList {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}



.chat  {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 2px;
    padding: 1rem;
    border: 1px solid black;
    width: auto;
    background-color: #d6515e;

}



/* CSS pour VChat.php */

.titre
{
    text-align: center;
    background-color: #545454;
    color: white;
    margin: 0px;
    padding: 20px;

}

.msgList{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    margin-left: 1rem;
    width: 80%;
    background-color: white;
}
.AddMsg {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;

}
.textarea {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #e5e5e5;
}

.box {
    margin-left: 2rem;
    padding: 0.5rem;
    width: 10rem;
    cursor: pointer;
 }

.Msg {
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 0.5rem;
    background-color: #0084ff;
    color: white;
    max-width: 350px;
}



/* PIED DE PAGE */

/* ########### */
