/* HEADER */

header
{
    opacity: 0.8;
    padding-bottom: 5rem;
    background-color: #375280;
    display: flex;
    height: 80px;
}

.boxMenuDeroulant
{
    width: 50%;
}

#menu-accordeon {
    padding: 0;
    list-style:none;
    text-align: center;
    width: 180px;
    height: 80px;
    float: right;
    margin-right: 10rem;

}
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;

}
#menu-accordeon li {
    background-color:#729EBF;
    border-radius: 6px;
    margin-bottom:2px;
}
#menu-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    box-shadow: none;
    border:none;
    margin:0;
}
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
}
#menu-accordeon li:hover {
    background: #729EBF;
}
#menu-accordeon li li:hover {
    background: #999;
}
#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
}

.boxMenu
{

    width: 50%;
}

.boxMenu ul
{
    padding-top: 2.5rem;
    margin: 0px;
    float:right;
    padding-right: 2rem;
    height: 80px;

}

.boxMenu li
{
    margin: 5px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.boxMenu a
{
    padding-top: 26px;
    padding-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.boxFreeNote
{
    width: 50%;
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.boxFreeNote img{
    align-content: center;
    width: 180px;
    height: 80px;
}


.boxFreeNote h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.freenote
{
    color: navajowhite;
    text-align: center;
    font-family: Arial;


}

li a:hover {
    background-color: #BAD4FF;
    color: #375280;
}



/* BODY ET PRESENTATION GENERALE */
body
{
    background-image: url("https://i.imgur.com/kKBguCz.jpg");
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(217, 223, 235, 0.884);
}

.presentation
{
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-bottom: solid;
}

/* PRESENTATION DU SITE */

#conteneur_presentation
{
    opacity: 0.8;
    padding-top : 20px;
}

#conteneur_presentation .presentation
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    font-family: Arial, sans-serif;
    color: black;
}

#conteneur_presentation .presentation h2
{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

#conteneur_presentation .presentation p
{
    text-align: center;
    width: 300px;
    margin-top: 1rem;
    border-right: solid;
    border-color: #375280;

    margin-left: 2rem;
    margin-right: 2rem;

    padding-right: 2rem;

}

/* #################### */

/* CORPS DE LA PAGE */

.corps
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

/* LISTE DES CONVERSTATIONS */


.boxBarRecherche
{
    width: 100%;
}

input[type=search]
{
    border: 2px solid #375280;
    border-radius: 8px;
    background-color: rgba(169, 175, 187, 0.88);
    padding-left: 40px;
}

input[type=search]:focus {
    background-color: #BAD4FF;
}

/* Liste discussion contient toutes les conversations */
.allChat {
    display: flex;

}
.ChatList {
    display: flex;
    flex-direction: column;
}

.msgList{
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 1rem;
    width: 100%;
}

.chat  {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 2px;
    padding: 1rem;
    border: 1px solid black;
    width: auto;
    background-color: #d6515e;

}

.AddMsg {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.textarea {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    height: 5rem;
}
.box {
    margin-left: 2rem;
    padding: 1rem;
    width: 10rem;
}

.Msg {
    display: flex;
    min-width: 30%;
    max-width: 80%;


    margin: 5px;
    border: 1px solid black;
    background-color: #78A5FF;
}


/* PIED DE PAGE */

/* ########### */
