body
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(217, 223, 235, 0.884);
}

.red
{
    color: dimgray;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    border-bottom: solid;
    border-color: #375280;
    padding-bottom: 1rem;
}